<h1>Blog Entries</h1>
<div class="blog-index">
  {{#each posts}}
    <div class="entry-wrapper">
      <span class="date">{{this.date}}</span>
      <div class="entry-details">
      <a href="./{{this.path}}.html">{{this.title}}</a>
      {{#if this.desc}}<span class="desc"> &mdash; {{this.desc}}</span>{{/if}}
      </div>
    </div>
  {{/each}}
</div>
