<head>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
  <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide Atom feed" />
  <title>{{title}}</title>
</head>

<body>
  <header>
    <a href="/" class="my-name-link">Andrew Hessler</a>
    <div class="nav">
      <li class="nav-item"><a target="_blank" href="/AndrewHesslerResume.pdf">Resume</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.linkedin.com/in/andrew-hessler/">LinkedIn</a></li>
      <li class="nav-item"><a target="_blank" href="https://github.com/andrewhessler">GitHub</a></li>
      <li class="nav-item"><a href="/blog">Blog</a></li>
      <li class="nav-item"><a href="/atom.xml">Feed</a></li>
    </div>
  </header>

  <main>
    {{#if date}}<span class="post-metadata">{{date}}{{#if tags}} | {{#each tags}} {{this}} {{/each}}{{/if}}</span>{{/if}}
    {{#if home}}<img class="tiny-me" src="./images/tiny-me-128.png" />{{/if}}
{{> indent}}
  </main>
  {{#if home}}
  <canvas id="rain-canvas"></canvas>
  <script src="/js/rain.js"></script>
  {{/if}}
</body>
