:root {
  background-color: #181824;
  color: #ffffff;
  place-items: center;
}

html,
body {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1em;
}

main {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}


a:link {
  color: #61afef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #616fef;
}

p {
  color: #a7aeba;
}

span {
  color: #a7aeba;
}

h1 {
  color: #d19a66;
}

h2 {
  color: #a7aeba;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #31353f;
  padding: 1em;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 0.5em 0.5em;
}

.nav-item {
  font-size: large;
}

.main {
  background-color: #31353f;
}

.my-name-link {
  color: #d19a66 !important;
}

.blog-date {
  font-size: .8em;
  float: right;
}

/* blog index classes */
.date {
  font-size: .8em;
  color: #d19a66 !important;
}

.entry-details {
  margin-left: 20px;
}

.desc {
  font-size: .9em;
}

.entry-wrapper {
  display: flex;
  flex-direction: column;
}

.blog-index {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
