:root {
  background-color: #181824;
  color: #ffffff;
  place-items: center;
}

html,
body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1rem;
}

main {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
}

img {
  max-width: 100%;
  height: auto;
}


a:link {
  color: #61afef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #616fef;
}

p,
span,
ul,
li {
  color: #a7aeba;
}

blockquote>p {
  color: gray;
}

h3 {
  color: #7ec387;
  margin-bottom: -10px;
  font-size: 2.0rem;
}

h2 {
  color: #3fb4cb;
  margin-bottom: -10px;
  font-size: 2.2rem;
}

h1 {
  color: #d19a66;
  font-size: 2.4rem;
  margin-top: -.1em;
  margin-bottom: -10px;
}


code {
  color: #ffa500;
  background-color: #282c34;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #31353f;
  padding: 1em;
  backdrop-filter: blur(2px);
}

li:has(input[type="checkbox"]) {
  list-style-type: none;
}

ul:has(input[type="checkbox"]) {
  padding: 0;
}

/* home/layout stuff */
.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 0.5em 0.5em;
}

.nav-item {
  font-size: large;
}

.main {
  background-color: #31353f;
}

.my-name-link {
  color: #d19a66 !important;
}

.post-metadata {
  font-size: .8rem;
  float: right;
}

.tiny-me {
  float: right;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(210, 154, 102, 0.3);
}

/* blog index classes */
.date {
  font-size: .8rem;
  color: #d19a66 !important;
}

.entry-details {
  margin-left: 20px;
}

.desc {
  font-size: .9rem;
}

.entry-wrapper {
  display: flex;
  flex-direction: column;
}

.blog-index {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 10px;
}

.code-block {
  padding: 1em;
}

#rain-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

@media (width <=768px) {
  header {
    flex-direction: column;
  }

  body {
    margin-bottom: 30vh;
  }
}
